* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: #040506;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;

  .container {
    width: 600px;
  
    h1 {
      background-color: rgb(116, 106, 106);
      text-align: center;
      margin: 10px 0 0 0;
    }
  
    .table {
      width: 100%;
      background-color: rgb(45, 45, 70);
  
      td {
        padding: 30px;
        text-align: center;
  
        &.cities {
          font-size: 32px;
          font-weight: 700;
        }
  
        .temp {
          font-size: 24px;
          /* font-weight: 700; */
        }
  
        .description {
          font-size: 24px;
        }
      }
    }
  }
}